@use "globals" as *;

.button {
    width: 130px;
    height: 40px;
    background-color: $color-primary;
    color: $typography-color-white;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: $typography-peso-bold;
    font-size: $typography-tamano-small;
    font-family: $typography-font-family-1;

    @include respond-to ("small") {
        width: 90px;
        height: 30px;   
        font-size: $typography-tamano-small;
    }

    @include respond-to ("medium") {
        width: 110px;
        height: 35px;   
        font-size: $typography-tamano-small;
    }




    &:hover {
        background-color: $color-hover;
    }
}